In [2]:
#formatting
name = "Seeran"
age = "19"
print("My name is {} and my age is {}".format(name,age))

My name is Seeran and my age is 19

In [4]:
#String Slicing
a="Hello World"
print(a[0:6])

Hello

In [5]:
#Concatenation
a="Hello"
b="World"
print(a+b)

HelloWorld

In [6]:
#TypeConversion
a=19
print(type(a))

<class 'int'>

In [7]:
print(float(a))

19.0

In [8]:
b=13j
print(type(b))

<class 'complex'>

In [10]:
#Slicing
tuple=("a","b","c","d","e","f","g","h","i","j")
x=slice(0,10,2)
print(tuple[x])

('a', 'c', 'e', 'g', 'i')

In [13]:
#List
a=["Seeran",19,False,"Ram"]
print(a)
b=["Seeranjeevi Ramavel", 21]
a.append(b)
print(a)

['Seeran', 19, False, 'Ram']
['Seeran', 19, False, 'Ram', ['Seeranjeevi Ramavel', 21]]

In [15]:
#Replace
a[1]="Ramavel"
print(a)

['Seeran', 'Ramavel', False, 'Ram', ['Seeranjeevi Ramavel', 21]]

In [16]:
a.pop(1)

'Ramavel'

In [17]:
a.insert(1,"Hi")

In [18]:
len(a)

5

In [19]:
print(a)

['Seeran', 'Hi', False, 'Ram', ['Seeranjeevi Ramavel', 21]]

In [20]:
del a[4]

In [21]:
print(a)

['Seeran', 'Hi', False, 'Ram']

In [22]:
#tuple
tuple=("apple","orange","pome")
print(tuple)
print(type(tuple))

('apple', 'orange', 'pome')
<class 'tuple'>

In [25]:
#Dictionary
a={ "name" :"Seeran",
    "age" : "19"
}
print(a)

{'name': 'Seeran', 'age': '19'}

In [26]:
a["address"]="TVL"
print(a)

{'name': 'Seeran', 'age': '19', 'address': 'TVL'}

In [28]:
print(a.keys())

dict_keys(['name', 'age', 'address'])

In [29]:
print(a.values())

dict_values(['Seeran', '19', 'TVL'])

In [35]:
def name(fname,lname):
    print("My first name is",fname,"Last name is",lname)
a="Seeran"
b="Ram"
name(a,b)

My first name is Seeran Last name is Ram